<%- include('header'); -%>
<form action="/uploads/profile" enctype="multipart/form-data" method="post">
    <div class="select">
        <select>
            <% cats.forEach(function(cat) { %>
            <option value="<%= cat.id %>"><%= cat.name %></option>
            <% }) %>
        </select>
    </div>
    <section class="section">
        <div class="columns">
            <div class="column is-half">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Price" name="price">
                        <span class="icon is-small is-left">
                            <i class="fas fa-euro-sign"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Title" name="title">
                        <span class="icon is-small is-left">
                            <i class="fas fa-heading"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Description" name="description">
                        <span class="icon is-small is-left">
                            <i class="fas fa-heading"></i>
                        </span>
                    </p>
                </div>
                <div id="file-js-example" class="file has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" name="avatar">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose a file…
                            </span>
                        </span>
                        <span class="file-name">
                            No file uploaded
                        </span>
                    </label>
                </div>
                <div>
                    <input type="submit" name="">
                </div>
            </div>
        </div>
    </section>
</form>

<script>

</script>


<%- include('footer'); -%>