<%- include('header'); -%>

<h1>shop</h1>
<p>Welcome to shop</p>
<div id="test"></div>
<div class="columns is-multiline is-mobile">
    <div class="column is-one-quarter">
        <div class="columns is-multiline is-mobile">
            <div class="column is-full">

                <%- include('sidebar') %>
            </div>

        </div>
    </div>
    <div class="column is-three-quarter">

    </div>
</div>


<%- include('footer'); -%>