.buttons {
    font-size: 200%;
    margin: 30px;
    padding: 30px;
    border-radius: 10%
}

.buttons-p-tag {
    display: flex;
    justify-content: center;

}

#result {
    font-size: 100px;
    display: flex;
    justify-content: center;
}